<?xml version='1.0' encoding='utf-8'?>
<widget id="pl.appaya.ngBusinessCards" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Business Cards</name>
    <description>
        No description yet :)
    </description>
    <author email="marcin@bogusz.cc" href="https://appaya.pl">
        Appaya
    </author>
    <content src="index.html" />

    <platform name="android">
    </platform>
</widget>
