<div class="card">
    <div class="content">
        <hgroup class="box_2">
            <h1 ng-bind="Card.name"></h1>
            <h2 ng-bind="Card.position"></h2>
        </hgroup>

        <div class="box_3 box">
            <div ng-bind="Card.email"></div>
            <div ng-bind="Card.phone"></div>
            <div ng-bind="Card.website"></div>
        </div>

        <div class="box_1 box" ng-bind="Card.company"></div>

        <div class="box_4 box">
            <div ng-bind="Card.po_box"></div>
            <div ng-bind="Card.street"></div>
            <div>
                <span ng-bind="Card.postcode"></span>
                <span ng-bind="Card.city"></span>
            </div>
            <div>
                <span ng-bind="Card.neighbourhood"></span>
                <span ng-bind="Card.state"></span>
                <span ng-bind="Card.country"></span>
            </div>
            <div ng-show="Card.tin">
                <span translate="APP.TIN"></span>: <span ng-bind="Card.tin"></span>
            </div>
        </div>
    </div>
</div>
