<hgroup class="box box_1">
    <h1>
        <span ng-bind="Card.name.first"></span>
        <span ng-bind="Card.name.last"></span>
    </h1>
    <h2 ng-bind="Card.company"></h2>
</hgroup>

<div class="box box_2">
    <div ng-bind="Card.address.street"></div>
    <div ng-bind="Card.address.po_box"></div>
    <div ng-bind="Card.address.neighbourhood"></div>
    <div ng-bind="Card.address.postcode"></div>
    <div ng-bind="Card.address.city"></div>
    <div ng-bind="Card.address.state"></div>
    <div ng-bind="Card.address.country"></div>
</div>

<div class="box box_3">
    <div ng-bind="Card.network.email"></div>
    <div ng-bind="Card.network.website"></div>
    <div ng-bind="Card.phone.mobile"></div>
    <div ng-bind="Card.phone.home"></div>
</div>
